<form action="" method="post" xmlns="http://www.w3.org/1999/html">
<meta charset="UTF-8">
<!--  <input type="text" name="username" />-->
<!--  <input type="password" name="password" />-->
<!--  <input type="submit" value="login" />-->
  <input type= 'text' name="id" value ='1'>
  < class ='form-group'><label for = "body"><strong> 评论：</strong></label>
  <div>
    <div class ="djaango-ckeditor-widget" data-filed-id = "id_body" style ="..."></div>
    <button type ="submit" class="btn btn-primary">发送</button>
  </div>
</form>

<ul class="mod-post" id="comment-list">
    {% for user_comment in all_comments %}
            <li class="post-row">
        <div class="media">
            <span target="_blank"><img src='{{ MEDIA_URL }}{{ user_comment.user.image }}' width='40' height='40' /></span>
        </div>
        <div class="bd">
            <div class="tit">
                <span target="_blank">{{ user_comment.user.username }}</span>
            </div>
            <p class="cnt">{{ user_comment.comments }}</p>
            <div class="footer clearfix">
                <span title="创建时间" class="l timeago">时间：{{ user_comment.add_time }}</span>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>评论列表</h4>
    </div>

    <div class="panel-body">
        {% get_comment_list for blog as comments %}
        {% for comment in comments %}
            <div class="blog_comment" name="F{{comment.id}}">
                <p class="comment_title">
                    #{{ comment.submit_date|date:"Y-m-d H:i"}} @ {{ comment.user_name }}：
                </p>
                <p class="comment_content">{{ comment.comment }}</p>
            </div>
        {% empty %}
            <span>暂无评论</span>
        {% endfor %}
    </div>
</div>

<h4>新的评论</h4>
{% get_comment_form for blog as blog_form %}

<form id="comment_form"
      class="form-horizontal"
      action="{% comment_form_target %}"
      method="post"
>
    {% csrf_token %}

    {# 必须的字段 #}
    {{ blog_form.object_pk }}
    {{ blog_form.content_type }}
    {{ blog_form.timestamp }}
    {{ blog_form.site }}
    {{ blog_form.submit_date }}
    {{ blog_form.security_hash }}

    {# 用户名字段，这个后面会修改为登录用户评论，无需填这个 #}
    <div class="control-group">
        <label class="control-label" for="id_name">名称： </label>
        <div class="controls">
            <input type="text"
                   id="id_name" class="input-xlarge" name="name"
                   placeholder="请输入您的用户名"
                   value="{{ user.username }}" />
        </div>
    </div>

    {# 邮箱地址字段 #}
    <div class="control-group">
        <label class="control-label" for="id_email">邮箱： </label>
        <div class="controls">
            <input type="email"
                   id="id_email" class="input-xlarge" name="email"
                   placeholder="请输入您的邮箱地址"
                   value="{{ user.email }}" />
        </div>
    </div>

    {# 评论内容 #}
    <a name="newcomment" id="newcomment"></a>
    <div class="control-group">
        <label class="control-label" for="id_comment">评论： </label>
        <div class="controls">
            <textarea rows="6"
                      id="id_comment" class="input-xlarge comment" name="comment"
                      placeholder="请输入评论内容">
            </textarea>
        </div>
    </div>

    {# 防垃圾评论 #}
    <p style="display:none;">
        <label for="id_honeypot">如果你在该字段中输入任何内容，你的评论就会被视为垃圾评论。</label>
        <input type="text" name="honeypot" id="id_honeypot">
    </p>

    {# 表单按钮 #}
    <div class="controls">
        <div class="form-actions">
            <input class="btn btn-info" id="submit_btn" type="submit" name="submit" value="提交"/>
            <input type="hidden" name="next" value="{%url 'detailblog' blog.id%}"/>
        </div>
    </div>
 </form>