<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>Our Love Story</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<style type="text/css">
		@font-face {
			font-family: digit;
			src: url('digital-7_mono.ttf') format("truetype");
		}
	</style>
	<link href="css/default.css" type="text/css" rel="stylesheet">
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/garden.js"></script>
    <script type="text/javascript" src="js/functions.js"></script>
</head>
<body>
	<div id="mainDiv">
		<div id="content">
			<div id="code">
			<span class="space"/><span class="space"/> <span class="space"/><span class="comments">Hi 鸡腿，Merry Christmas Eve!</span><br />
			<span class="space"/><span class="comments">This is a letter that is shown only for you.Anyone without our authority is limmited, especially your dear papa,hhha,got you ~</span><br />
			<span class="comments">As you can see,the fllowing will be some words from my heart to yours.</span><br />
			<span class="comments">Dec 10, 2021, I told you I like you. </span><br />		
			<span class="comments">Luckily, you accepted and became my girlfriend eversince.</span><br />
			<span class="comments">Since then, I miss you every day again.</span><br />
			<span class="comments">我本来想用英语写完，但实力不允许，遂放弃，其实是因为剽窃的原版内容只有以上是符合我们的。咳..</span><br/>
			<span class="space"/><span class="comments">一直以来，一想到葛传红同学，我这张老脸就泛起了皱纹。每每想起你我相识于幼，重逢与此，不免长叹</span><br/>
			<span class="comments">本以为早过了写情书的年龄，也没了写情书的机会，趁着今天的这个机会写下生平第一封情书给到那个最初的鸡腿；Maybe this is life，可能他们觉得我们生活的太苦了，所以又给我们一些希望，又或者觉得我们太过逍遥，想给我们的人生再加点重量。但诚如你所说，因上努力！</span><br/>
			<span class="space"/><span class="comments"></span><br/>	
			<span class="space"/><span class="comments">我是如何想你的，当我看到瓦蓝的天的时候，低低的白云一朵又一朵，清爽肆意，我在想你。带着傻笑呆呆的幻想着和鸡腿在一起的平淡生活就像那云一样，是自由还是随波逐流已不重要。</span><br/>
			<span class="space"/><span class="comments">我是如何想你的，当我下班看到天上的月亮的时候，今晚的月色真美，我在想你。四下无人的街也突然变的温柔</span><br/>
			<span class="space"/><span class="comments">我是如何想你的，当我跟你视频的时候，我看到你在吹头发的时候，我在想你。头发湿漉漉的鸡腿是如此的魅力</span><br/>
			<span class="space"/><span class="comments">我是如何想你的，当你在我眼前的时候，你是一切；当你不在我眼前的时候，一切都是你</span><br/>
			<span class="space"/><span class="comments"></span><br/>	
			<span class="space"/><span class="comments">我努力的回忆起曾经和鸡腿在一起的日子，时间近的像是我们刚刚分开，但是记忆已经模糊的只剩下一件粉色和黑色的羽绒服的鸡腿</span><br/>	
			<span class="space"/><span class="comments">我时常幻想着在一起的日子，给你吹头发，带着喜欢的你攀一座山；我们一起旅行，两个人的不同旅行，我来寻找旅行中的遗迹故事，去进行一场寻根之旅，或者一场红色之旅，你来寻找当下的美；去丈量这个世界；去体验不同的人生；但是有时候又想和你平淡幸福的渡过每一天；我总是这样，想太多又做的太少</span><br/>	
			<span class="space"/><span class="comments">When I realize that I will spend the rest of my life with you, I want the rest of My life to start as soon as possible. </span><br/>	
			<span class="space"/><span class="comments">假若他日我们相逢，事隔经年，我们将如何庆贺，以沉默？以眼泪？</span><br/>	
			<span class="space"/><span class="comments">用一句词，来作为我们感情的注脚吧：众里寻他千百度，蓦然回首，那人却在灯火阑珊处</span><br/>	
			<span class="space"/><span class="comments">鸡腿，我爱你，不是每天早上醒来后的那种爱你，也不是解决问题后欣喜若狂的那种爱你，而是晚来天欲雪，能饮一杯无的那种爱你，是张敞画眉的那种爱你。（づ￣3￣）づ╭❤～</span><br/>	
			</div>
			<div id="loveHeart">
				<canvas id="garden"></canvas>
				<div id="words">
					<div id="messages">
						鸡腿, We have fallen in love for
						<div id="elapseClock"></div>
					</div>
					<div id="loveu">
						Love u forever and ever.<br/>
						<div class="signature">- Neo Zhang</div>
					</div>
				</div>
			</div>
		</div>
		<div id="copyright">
			Inspired by <a href="http://www.openrise.com/lab/FlowerPower/">FlowerPower</a> project.<br />
			Copyright © 2021 <a href='http://Neo Zhang.me'>Neo Zhang.me</a> 2021
		</div>
	</div>
	<script type="text/javascript">
		var offsetX = $("#loveHeart").width() / 2;
		var offsetY = $("#loveHeart").height() / 2 - 55;
		var together = new Date();
		together.setFullYear(2021, 10, 10);
		together.setHours(1);
		together.setMinutes(14);
		together.setSeconds(0);
		together.setMilliseconds(02);
		
		if (!document.createElement('canvas').getContext) {
			var msg = document.createElement("div");
			msg.id = "errorMsg";
			msg.innerHTML = "Your browser doesn't support HTML5!<br/>Recommend use Chrome 14+/IE 9+/Firefox 7+/Safari 4+"; 
			document.body.appendChild(msg);
			$("#code").css("display", "none")
			$("#copyright").css("position", "absolute");
			$("#copyright").css("bottom", "10px");
		    document.execCommand("stop");
		} else {
			setTimeout(function () {
				startHeartAnimation();
			}, 100);

			timeElapse(together);
			setInterval(function () {
				timeElapse(together);
			}, 100);

			adjustCodePosition();
			$("#code").typewriter();
		}
	</script>
</body>
</html>
