<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Login</title>
    <!--引入本地css & js-->
    <link rel="stylesheet" href="../static/style/app.css" />
  </head>
  <body>
    <form class="form-horizontal">
      <div class="control-group">
        <label class="control-label" contenteditable="true" for="inputEmail">邮箱</label>
        <div class="controls">
          <input id="inputEmail" placeholder="Email" type="text" />
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" contenteditable="true" for="inputPassword">密码</label>
        <div class="controls">
          <input id="inputPassword" placeholder="Password" type="password" />
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <label class="checkbox" contenteditable="true">
          <input type="checkbox" /> Remember me </label>
          <button class="btn" contenteditable="true" type="submit">登陆</button>
        </div>
      </div>
    </form>
  </body>
</html>